@import url("normalize.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");

html{
  height: 100%;
}
body{
  height: 100%;
  font-family: "Open Sans", sans-serif;
  padding: 5vh 7vw;
  position: relative;
  background: rgb(191,191,191); /* Old browsers */
}
header{
  width: 100%;
  height: 100%;
  max-height: 15vh;
  position: relative;
}
header section{
  width: 30%;
  height: 100%;
  float: left;
}
#div-name, #title{
  margin: 0px;
  font-weight: 700;
}
#title{
  font-size: 15px;
  margin-top: 1vh;
}
#bars{
  min-height: 20px;
  font-size: 3em;
  display: none;
  position: relative;
}
#bars:hover{
  cursor: pointer;
}
header #nav{
  width: 70%;
  height: 100%;
  padding: 8px 0;
  float: right;
  overflow: hidden;
}
#menu{
  width: 100%;
}
#menu ul{
  width: auto;
  height: 100%;
  padding-left: 0;
  padding: 12px 0;
  float: right;
  margin: 0;
}
#menu ul li{
  list-style: none;
  display: inline-block;
  margin: 5px 10px;
}
#menu ul li a{
  padding: 5px 15px 15px 15px;
  font-size: 1.5vw;
  text-decoration: none;
  color: #000;
}
#menu ul li a:hover{
  border-bottom: 2px solid orange;
}
.icon{
  width: 100%;
  height: 3px;
  background: #454545;
  overflow: hidden;
  margin-bottom: 8px;
  position: relative;
  transition: all .5s ease-in-out;
}
.link-button {
  padding: 10px 16px;
  text-decoration: none;
  color: #eee;
  background: #04ad7b;
  font-size: 20px;
  position: relative;
  border-radius: 30px;
}
.link-button span{
  margin-left: 50px;
}
.link-button > i{
  position: absolute;
  left: 20px;
  top: 50%;
  font-size: 30px;
  transform: translateY(-50%);
}
.icons-together{
  margin-bottom: 0px;
  position: absolute;
  top: 50%;
  transition: all .6s ease-in;
}
.icons-together:nth-child(1){
  transform: rotate(45deg);
  transform-origin: center;
}
.icons-together:nth-child(2){
  display: none;
}
.icons-together:nth-child(3){
  transform: rotate(-45deg);
  transform-origin: center;
}
.icon:nth-child(3){
  margin: 0;
}
/* home section style */
main{
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}
#home{
  width: calc(100% - 4vw);
  height: calc(100vh - 55vh);
  overflow: hidden;
  padding: 20vh 2vw;
  text-align: center;
}
#projects{
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  text-align: center;
}
.project{
  margin: 20px 20px;
  -webkit-box-shadow: 0px 0.1px 0.5px 0.5px rgba(133,133,133,0.64);
  -moz-box-shadow: 0px 0.1px 0.5px 0.5px rgba(133,133,133,0.64);
  box-shadow: 0px 0.1px 0.5px 0.5px rgba(133,133,133,0.64);
}
.project:hover{
  -webkit-box-shadow: 0px 1px 5px 1px rgba(133,133,133,0.64);
  -moz-box-shadow: 0px 1px 5px 1px rgba(133,133,133,0.64);
  box-shadow: 0px 1px 5px 1px rgba(133,133,133,0.64);
}
.learning-project{
  width: auto;
  padding: 3vh 0;
}
.project-image-holder img{
  max-width: 100%;
}
.project-detail{
  text-align: center;
  padding: 3vh 3vw;
}
.project-link{
  color: rgb(0, 117, 121);
  text-decoration: none;
}
.project-link:hover{
  color: #333;
}
.project-detail p{
  font-size: 15px;
  margin-top: 0px;
  line-height: 25px;
  color: rgb(85, 85, 85);
}
.nav-height{
  max-height: 220px!important;
}
#contact{
  margin-bottom: 30px;
}
footer{
  text-align: center;
}
footer p{
  font-size: 12px;
}
#contact{
  text-align: center;
}
@media only screen and (max-width: 600px) {
  body {
    padding: 40px;
  }

/*header section */
  #header{
    position: fixed;
    width: calc(100% - 80px);
    height: 8vh;
    overflow: hidden;
    top: 0;
    padding-top: 10px;
    background: rgb(191,191,191);
    transition: all .5s ease-in-out
  }
  .overflow-visible{
    overflow: visible!important;
    transition: all .5s ease-in-out;
  }
  .no-header{
    height: 0!important;
    overflow: hidden;
    background: rgb(191,191,191);
    transition: height .5s ease-in-out;
  }
  
  #header section{
    width: 100%;
    padding: 0;
  }
  #title{
    font-size: 12px;
  }
  #bars{
    position: absolute;
    right: 0;
    width: 35px;
    display: block;
    top: 20px;
  }
  header #nav{
    width: 100%;
    height: auto;
    max-height: 0px;
    position: absolute;
    top: 15vh;
    padding: 0;
    transition: max-height .5s ease-in-out;
  }
  #menu{
    max-height: 0;
  }
  #menu ul{
    padding: 0;
    width: 100%;
    background: #aaa;
  }
  #menu ul li{
    width: 100%;
    padding: 15px 0;
    display: block;
    margin: 0;
  }
  #menu ul li:hover{
    background: rgb(105, 105, 105);
  }
  #menu ul li a{
    font-size: 18px;
    padding: 15px 0;
    padding-left: 15px;
  }
  #menu ul li a:hover{
    border: none;
  }
  .show-menu{
    max-height: 220px!important;
    transition: max-height .5s ease-in-out;
    overflow: hidden;
  }
  .border-bottom{
    padding-bottom: 10px;
    border-bottom: 2px solid #ccc;
  }

  /* Home section */
  #home{
    height: calc(100vh - 40vh);
  }
  #contact{
    text-align: center;
  }
}



@media only screen and (max-width: 320px) {
  body {
    padding: 10px;
  }

/*header section */
  #header{
    position: fixed;
    width: calc(100% - 20px);
    height: 15vh;
    overflow: hidden;
    top: 0;
    padding-top: 10px;
    background: rgb(191,191,191);
    transition: all .5s ease-in-out
  }
  .overflow-visible{
    overflow: visible!important;
    transition: all .5s ease-in-out;
  }
  .no-header{
    height: 0!important;
    overflow: hidden;
    background: rgb(191,191,191);
    transition: height .5s ease-in-out;
  }
  
  #header section{
    width: 100%;
    padding: 0;
  }
  #title{
    font-size: 12px;
  }
  #bars{
    position: absolute;
    right: 0;
    width: 35px;
    display: block;
    top: 20px;
  }
  header #nav{
    width: 100%;
    height: auto;
    max-height: 0px;
    position: absolute;
    top: 15vh;
    padding: 0;
    transition: max-height .5s ease-in-out;
  }
  #menu{
    max-height: 0;
  }
  #menu ul{
    padding: 0;
    width: 100%;
    background: #aaa;
  }
  #menu ul li{
    width: 100%;
    padding: 15px 0;
    display: block;
    margin: 0;
  }
  #menu ul li:hover{
    background: rgb(105, 105, 105);
  }
  #menu ul li a{
    font-size: 18px;
    padding: 15px 0;
    padding-left: 15px;
  }
  #menu ul li a:hover{
    border: none;
  }
  .show-menu{
    max-height: 220px!important;
    transition: max-height .5s ease-in-out;
    overflow: hidden;
  }
  .border-bottom{
    padding-bottom: 10px;
    border-bottom: 2px solid #ccc;
  }

  /* Home section */
  #home{
    height: calc(100vh - 40vh);
  }
  #contact{
    text-align: center;
  }
}