@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");

:root{
  --mian-color: #00b894;
  --header-height: 100px;
}

body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
  position: relative;
  /* scroll-behavior: smooth; */
}
ul{
  list-style: none; 
  margin: 0;
  padding: 0;
}
hr{
  position: absolute;
  width: 80%;
  left: 10%;
  right: 10%;
  bottom: 50px;
  height: 4px;
  box-sizing: border-box;
  background: var(--mian-color);
}
#bg-image{
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    rgba(0, 0, 0, .5),
    rgba(0, 0, 0, .5)
  ), url('https://images.pexels.com/photos/577585/pexels-photo-577585.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: -100;
  filter: blur(8px);
  -webkit-filter: blur(5px);
  filter: sepia(.8);
  -webkit-filter: sepia(.8);
  transform: scale(1.02);
}
.project-bg{
  background: -moz-linear-gradient(359deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 21%, rgba(217,217,217,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(21%, rgba(255,255,255,1)), color-stop(100%, rgba(217,217,217,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(359deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 21%, rgba(217,217,217,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(359deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 21%, rgba(217,217,217,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(359deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 21%, rgba(217,217,217,1) 100%); /* ie10+ */
  background: linear-gradient(91deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 21%, rgba(217,217,217,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#D9D9D9',GradientType=1 ); /* ie6-9 */
}
.get-in-touch{
  text-decoration: none;
  color: #eee;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.name{
  color: var(--mian-color);
}
.hover-bb:hover{
  border-bottom: 2px solid var(--mian-color)!important;
}
.header-fixed .hover-bb:hover{
  border-bottom: 2px solid #eee!important;
}
/* containers */
.container{
  width: 100%;
  box-sizing: border-box;
  padding: 0 10%;
}
.anchor{
  color: #445544;
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--mian-color);
}
/* header */
#header, #header-wrapper, #menu-bars, #navbar, #nav-links{
  display: flex;
}
#header{
  height: var(--header-height);
  padding: 0px 10%;
  align-items: center;
}
/* header/header-wrapper */
.header-wrapper{
  flex-basis: 100%;
  position: relative;
}
/* header/name and work title */
#name-title{
  flex-basis: 100%;
}
#name-title a{
  width: auto;
  color: #eee;
  text-decoration: none;  
  display: inline-block;
  border-bottom: 2px solid transparent;
}
#name{
  margin: 0px;
  color: var(--mian-color);
}
#title {
  margin: 0;
  font-size: 15px;
  padding-bottom: 10px;
}
/* header/navbar */
#navbar{
  flex-basis: 100%;
  position: absolute;
  top: var(--header-height);
  max-height: 0;
  transition: max-height .5s ease-out;
  overflow: hidden;
}
#nav-links{
  flex-direction: column;
}
#nav-links li{
  width: 100%;
}
#nav-links li:last-child{
  margin-right: 0;
}
.link{
  font-size: 18px;
  padding: 10px 8px 15px 8px; 
  color: #eee!important;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
}
.nav-display{
  display: flex;
  width: 100%;
  max-height: 400px!important;
  transition: max-height .5s ease-in!important;
  z-index: 999;
  overflow: hidden;
}
.nav-expand li{
  width: 100%;
  height: 40px;
  padding-top: 10px;
  margin: 0;
}
.nav-expand .active{
  color: var(--mian-color)!important;
  border: none;
}
.nav-expand .link:hover{
  color: var(--mian-color)!important;
  border: none!important;
}
.nav-expand li a{
  padding-left: 0;
}
/* header/menubars */
#menu-bars{
  position: absolute;
  right: 0;
  width: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
#menu-bars:hover{
  cursor: pointer;
}
.bar{ 
  width: 100%;
  height: 2px;
  background: var(--mian-color);
  margin: 5px 0;
}
.bar-1, .bar-2, .bar-3{
  transition: .5s;
}
.change .bar-1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar-2 {opacity: 0;}

.change .bar-3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.header-fixed .bar{
  background: #eee;
}
 /* header classes for animations */
.no-height{
  max-height: 0px!important;
  transition: max-height .3s ease-in;
}
.header-fixed{
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  box-sizing: border-box;
  padding: 15px 10%;
  background: var(--mian-color);
  z-index: 9999;
}
.header-animation{
  max-height: var(--header-height)!important;
  transition: max-height .3s ease-in;
}
.header-fixed #name{
  color: #454545!important;
}
.header-fixed #menu-bars{
  right: 10%;
}
.header-fixed .nav-expand .active{
  color: #454545!important;
}
.header-fixed .nav-expand .link:hover{
  color: #454545!important;
}
.header-fixed #navbar{
  width: 100%;
  left: 0;
  padding: 0 10%;
  box-sizing: border-box;
  background: var(--mian-color);
}
/* main */
#main-container{
  width: 100%;
  overflow: hidden;
}
/* main/home */
#home{
  height: calc(100vh - var(--header-height));
}
/* main/home/profile */
#profile{
  width: 100%;
  padding: 10vh 0;
  position: relative;
  left: -100%;
}
.profile-img-holder{
  width: 150px;
  height: 150px;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  border: 18px solid var(--mian-color);
  -webkit-box-shadow: inset 0px -1px 2px 0px rgba(238,238,238,0.5), 0px 0px 2px 0px rgba(238,238,238,0.5); 
  box-shadow: inset 0px -1px 2px; 
}
#profile-image{
  max-width: 100%;
  position: absolute;
}
#profile-desc{
  line-height: 30px; 
  font-size: 30px;
  color: #eee;
}
/* classes for bringing changes at some point */
.full-home{
  height: 100vh!important;
}
.home-expand{
  position: relative;
  left: 0!important;
  transition: left .7s ease-out;
  -moz-transition: left .7s ease-out;
  -o-transition: left .7s ease-out;
  -webkit-transition: left .7s ease-out;
}
.header-fixed .active{
  color: #eee;
}

/* main/projects */
#projects{
  width: 100%;
  background: #eee;
}
.project{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  position: relative;
}
.project-detail{
  display: flex;
}
.img-responsive{
  max-width: 100%;
}

.project-name{
  margin-bottom: 0;
}
.project-link{
  text-decoration: none;
  display: inline-block;
  color: var(--mian-color);
  padding-bottom: 10px;
  border-bottom: 1px solid var(--mian-color);
}
.project-link h5{
  margin: 0;
}
.project-desc{
  font-size: 18px;
  color: rgba(0, 0, 0, .6);
  line-height: 25px;
  text-align: left;
}
.tech-used{
  font-size: 22px;
  color: rgba(0, 0, 0, .7);
}
.tech-holder{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
.tech{
  padding: 6px 15px;
  margin: 5px;
  background: var(--mian-color);
  color: #eee;
  font-size: 16px;
  border-radius: 15px;
}




