:root{
  --mian-color: #00b894;
}
html, body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
@import url("normalize.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
h1{font-size: 3.5em}
h2{font-size: 3em}
h3{font-size: 2.5em}
h4{font-size: 2em}
h5{font-size: 1.5em}
h6{font-size: 1em}  

#bg-image{
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    rgba(0, 0, 0, .5),
    rgba(0, 0, 0, .5)
  ), url('https://images.pexels.com/photos/577585/pexels-photo-577585.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: -100;
  filter: blur(8px);
  -webkit-filter: blur(5px);
  filter: sepia(.8);
  -webkit-filter: sepia(.8);
  transform: scale(1.02);
}

.anchor{
  text-decoration: none;
  color: #eee;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.opacity-70{
  opacity: .7;
}
.opacity-100{
  opacity: 1!important;
}
.img-responsive{
  max-width: 100%;
}
.name{
  color: var(--mian-color);
}
.mt-10{
  margin-top: 10px;
}
.mb-10{
  margin-bottom: 10px;
}
/* colors */
.text-white{
  color: #eee;
}
.hover-color:hover{
  color: var(--mian-color);
}
.hover-bb:hover{
  border-bottom: 2px solid var(--mian-color)!important;
}
/* fonts */
.font-regular{
  font-weight: 400;
}
.font-m-bold{
  font-weight: 600;
}
.font-bold{
  font-weight: 700;
}
.normal{
  font-size: 18px;
}
.large{
  font-size: 20px;
}
.xlarge{
  font-size: 25px;
}
.xxlarge{
  font-size: 30px;
}


.center{
  text-align: center;
}
.left{
  float: left;
}
.right{
  float: right;
}
/* containers */
#main-container{
  width: 100%;
  overflow: hidden;
  position: relative;
}
.container{
  width: calc(100% - 30%);
  padding: 0 15%;
}
.profile-img-holder{
  width: 150px;
  height: 150px;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  border: 3px solid #eee;
  -webkit-box-shadow: inset 0px -1px 2px 0px rgba(238,238,238,0.5), 0px 0px 2px 0px rgba(238,238,238,0.5); 
  box-shadow: inset 0px -1px 2px; 
}

html{
  height: 100%;
}
body{
  height: 100%;
  font-family: "Open Sans", sans-serif;
  position: relative;
}
#header{
  max-height: 120px;
  overflow: hidden;
  padding-top: 15px;
  padding-bottom: 15px;
}
#header > *{
  color: #eee;
}
#name-title{
  width: 50%;
  height: 100%;
  overflow: hidden;
  float: left;
}
#name-title a{
  width: auto;
  color: #eee;
  text-decoration: none;  
  display: inline-block;
  border-bottom: 2px solid transparent;
}
#name{
  margin: 0px;
  color: var(--mian-color);
}
#title {
  margin-top: 0px;
  font-size: 15px;
}
#menu-bars{
 
}
#header nav{
  width: 50%;
  height: 100%;
  float: right;
  overflow: hidden;
}
nav ul{
  width: 100%;
  height: 100%;
  padding: 20px 0px 25px 0px;
  margin: 0;
  text-align: right;
}
nav ul li{
  height: 100%;
  display: inline-block;
  margin-right: 20px;
}
nav ul li:last-child{
  margin-right: 0px;
}
nav ul li a{
  padding: 10px 15px 20px 15px; 
  color: #eee;
  font-size: 24px;
  text-decoration: none;
}

#profile-image{
  max-width: 100%;
  position: absolute;
}
#profile, #skills{
  float: left;
}
#home{
  width: calc(100% - 30%);
  height: calc(100vh - 120px);
  margin: 0 15%;
  overflow: hidden;
}
#profile{
  left: 0;
  width: 50%;
  display: inline-block;
  padding: 10vh 0;
  position: relative;
  left: -50%;
}
#skills{
  width: calc(50% - 40px);
  display: inline-block;
  padding: 20px;
  position: relative;
  right: -50%;
}
.tech{
  width: 100%;
  height: 25px;
  overflow: hidden;
  background: #eee;
  border-radius: 15px;
  margin: 15px 0; 
}
.blue-bg{
  background: var(--mian-color);
}
.tech-length{
  height: 25px;
  overflow: hidden;
  border-radius: 15px;
  position: relative;
}
.tech-length p{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  display: inline-block;
  color: #eee;
  font-size: 18px;
  padding: 4px;
}
.tech-name{
  color: #eee;
  padding: 4px 15px!important;
  border-radius: 15px;
}
.tech-percentage{
  position: absolute;
  right: 0;
}
.no-margin{
  margin: 0px;
}
.active{
  border-bottom: 2px solid var(--mian-color);
}
.skills-expand{
  position: relative;
  right: 0!important;
  transition: right .7s ease-out;
  -moz-transition: right .7s ease-out;
  -o-transition: right .7s ease-out;
  -webkit-transition: right .7s ease-out;
}
.home-expand{
  position: relative;
  left: 0!important;
  transition: left .7s ease-out;
  -moz-transition: left .7s ease-out;
  -o-transition: left .7s ease-out;
  -webkit-transition: left .7s ease-out;
}

#projects{
  width: 100%;
  background: #eee;
}
#projects ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.project{
  width: calc(100% - 30%);
  height: 100vh;
  margin: 0 15%;
}